// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

.logInForm {
  padding: 25px;
}

// Create Terrarium Page
section.searchAnimalType {
  padding: 3%;
  background-color: rgb(228, 228, 228);
  border: 3px !important;
}
section.newTerrariumForm {
  padding: 3%;
  background-color: rgb(211, 210, 210);
  border: 3px !important;
}
